*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Intellij IDE
.idea/
*.iml
*.ipr
*.iws

#Eclipse
.classpath
.project
.settings/

# Gradle
gradlew
.gradle/
/bin/
build/

#SQLite
*.db
*.db-shm
*.db-wal
